body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    position: absolute;
    /*Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: calc(100% - 100px);
    /* Full height - padding-top */
    background-color: rgba(0, 0, 0, 0.1);
    /* Black w/ opacity */
}


/* Modal Box */

.modal-box {
    color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: lighter;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}