<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LivelyZone Messenger</title>
    <link rel="stylesheet" href="../static/chat.css" type="text/css" media="all" />
</head>

<body>
    <div class="header">
        <h3>exiticon</h3>
        <h3>{{ ROOM NAME }}</h3>
    </div>


    <div class="container">
        <!--
        #Messages & Notifications.
        -->
        <p class="sent">{{ message sent }}</p>
        <p class="notify">{{ notification }}</p>
        <p class="recieved">{{ message recieved }}</p>

    </div>
    <div class="">
        <textarea class="footer" onkeyup="addRows('this.rows += 1');" rows="1" cols="40"></textarea>

    </div>




    <script src="../static/_chat.js"></script>
</body>

</html>