<!doctype html>
<html lang="en">

<head>
    <title>Lively Zone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fa5 -->
    <link rel="stylesheet" href="../static/libs/font-awesome/css/all.css">
    <!-- <link rel="stylesheet" href="../static/libs/font-awesome/css/all.min.css"> -->
    <!-- 
        <link 
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous"
        />
        -->
    <!---->

    <link rel="stylesheet" href="../static/chat.css" />
    <script src='../static/libs/jquery.js'></script>
    <script src="../static/libs/socket.io.min.js"></script>

</head>

<body>
    <header>{{session['room']}}</header>

    <main>

    </main>

    <footer>
        <div>
            <span id="emojis"><i class=""></i></span>
            <textarea rows='1' placeholder="Type your message" id="text"></textarea>
        </div>
        <button id="send"><i class="fas fa-send-o"></i></button>
    </footer>

    <!-- 
    <div hidden>
        <input type="file" name="attch" id="file">
    </div> -->

    <script>
        var socket = io.connect('{{protcl}}://' + document.domain + ':' + location.port + '/chat');
        $('#text').focus();
        !Function('localStorage.user="{{session["username"]}}"')();
    </script>
    <script src="../static/chat.js"></script>
</body>

</html>